<div class="container" data-ng-controller="HeaderController">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<a href="/#!/" class="navbar-brand">UF Database Sharing</a>
	</div>
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">



		<!-- Right Menu -->
		<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
			<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a href="/#!/signup">Sign Up</a>
			</li>
			<li class="divider-vertical"></li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a href="/#!/signin">Sign In</a>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownCaret">
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li data-ng-show="authentication.user.roles.indexOf('admin') !== -1">
						<a href="/#!/signup">Add User</a>
					</li>
					<li data-ng-show="authentication.user.roles.indexOf('admin') !== -1">
						<a data-ng-controller="AuthenticationController" ng-click="toggleRegistration()">Registration is: {{registration}}</a>
					</li>
					<li>
						<a href="/auth/signout" id="signout">Signout</a>
					</li>
				</ul>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
			<li>
				<a href="/#!/settings/profile"><span id="dispName" data-ng-bind="authentication.user.firstName+ ' ' +authentication.user.lastName"></span>
				</a>
			</li>
		</ul>
	</nav>
</div>
