<section data-ng-controller="DatabasesController" data-ng-init="find()">

	<div class="page-header">
		<h1 style="margin-left: 20px;">Databases</h1>
	</div>

	<div class="input-group" style="margin-bottom:10px; margin-left: 20px;">
         Search: <input id="query" ng-model="query" class="form-control" placeholder = "Filter Criteria">
    </div>

    <div class="panel">


			<div>
				<li class="list-group-item" style="height:35px; background-color:#4A6FB4; color:white; vertical-align:center;">
					<a href="" ng-click="predicate = 'firstName'; reverse=!reverse"> 
						<h4 class="pull-left list-group-item-heading" style="color:#ffffff"> Add/Remove</h4>
					<h4 class="pull-right list-group-item-heading" style="color:#ffffff"> Name/Description</h4>
				</li>

			</div>

		<div class="repeater-container" vs-repeat>
			<div class="item-element well vs-repeat-repeated-element ng-scope"  data-ng-repeat="database in databases | orderBy: predicate : reverse | filter:query">

					<script type="text/ng-template" id="addDBModal">
					                <div class="modal-header">
					                    <button type="button" class="close" ng-click="$dismiss()">&times;</button>
					                    <h3 class="modal-title"> Add Database to Portfolio </h3>
					                </div>
					                    <div class="modal-body">
					                        <p>You are adding &quot{{database.name}}&quot created by {{database.user.displayName}} to your portfolio.</p>
					                        <div class="checkbox">
					                        <label> 
					                            <input type="checkbox" data-ng-model="proficient" id="proficient" unchecked>

					                            I am proficient with this database and am willing to answer questions about it.
					                        </label>
					                    </div>
					                        <button class="btn large btn-success" data-ng-click="addDatabaseToPortfolio({{database}}, proficient)">Add Database to Porfolio</button>
					                        <button class="btn" ng-click="cancel()">Cancel</button>
					                </div>
					</script>

				


          <p>
    				<h4 class="pull-left list-group-item-heading" style="color:#ffffff"><a data-ng-href="#!/databases/{{database._id}}" id="dbClick"> {{database.name}}</a></h4>
    			</p>
    			<p class="pull-right list-group-item-text">{{database.descriptionShort}}</p> 

    			<button style = "vertical-align: right; margin-right: 10px" ng-show="checkForDatabaseInPortfolio({{database}})" data-ng-click="open('md', database)" class="btn addDatabases"><i class="glyphicon glyphicon-plus"></i></button> 
         
          <button style = "vertical-align: right; margin-right: 10x" ng-show="!checkForDatabaseInPortfolio({{database}})" data-ng-click="removeDatabaseFromPortfolio({{database}})" class="btn removeDatabase"><i class="glyphicon glyphicon-minus"></i></button>



			</div>

		</div>


	</div>

</section>
