<section data-ng-controller="DatabasesController" data-ng-init="find()">

	<div class="page-header" style="margin-left: 30px;">
		<h1 >Databases</h1>
		<div>
		<a href="/#!/databases/create" ><button class="btn btn-primary" id="addDBButton">Add New Database</button></a>
		</div>
	</div>

	<div class="input-group" style="margin-bottom:10px; margin-left: 20px;">
         Search: <input id="query" ng-model="query" class="form-control" placeholder = "Filter Criteria">
    </div>

    <div class="panel">

		<div>
			<li class="list-group-item" style="height:35px; background-color:#4A6FB4; color:white; vertical-align:center;">
				<a href="" ng-click="predicate = 'firstName'; reverse=!reverse"> 
					<h4 class="pull-left list-group-item-heading" style="color:#ffffff"> Add/Remove</h4>
				<h4 class="pull-right list-group-item-heading" style="color:#ffffff">Database Name</h4>
			</li>
		</div>

		<div class="repeater-container" vs-repeat>
			<div class="item-element well vs-repeat-repeated-element ng-scope"  data-ng-repeat="database in databases | orderBy: predicate : reverse | filter:query">

				<script type="text/ng-template" id="addDBModal">
				                <div class="modal-header">
				                    <button type="button" class="close" ng-click="$dismiss()">&times;</button>
				                    <h3 class="modal-title"> Add Database to Portfolio </h3>
				                </div>
				                    <div class="modal-body">
				                        <p>You are adding &quot{{database.name}}&quot created by {{database.user.displayName}} to your portfolio.</p>
				                        <div class="checkbox">
				                        <label> 
				                            <input type="checkbox" data-ng-model="proficient" id="proficient" unchecked>

				                            I am proficient with this database and am willing to answer questions about it.
				                        </label>
				                    </div>
				                        <button class="btn large btn-success" data-ng-click="addDatabaseToPortfolio({{database}}, proficient)">Add Database to Porfolio</button>
				                        <button class="btn" ng-click="cancel()">Cancel</button>
				                </div>
				</script>

				<span><button style = "vertical-align: right; margin-right: 10px" ng-show="checkForDatabaseInPortfolio({{database}})" data-ng-click="open('md', database)" class="btn addDatabases"><i class="glyphicon glyphicon-plus"></i></button></span>
				<span><button style = "vertical-align: right; margin-right: 10px" ng-show="!checkForDatabaseInPortfolio({{database}})" data-ng-click="removeDatabaseFromPortfolio({{database}})" class="btn removeDatabase"><i class="glyphicon glyphicon-minus"></i></button></span>

    			<h4 class="list-group-item-heading pull-right" style="color:#ffffff margin-top:15px;"><a data-ng-href="#!/databases/{{database._id}}" id="{{database.name}}"> {{database.name}}</a></h4>

    			<p class="list-group-item-text" style="margin-top: 10px;">
    				<a href="#" ng-click="showDescription = !showDescription"> Click for Description</a>
    			</p>

    			<p class="list-group-item-text" ng-show="showDescription">{{database.descriptionShort}}</p>

			</div>
		</div>
	</div>

</section>
