<section data-ng-controller="DatabasesController" data-ng-init="find()">

    <div class="alert alert-warning text-center" data-ng-hide="!databases.$resolved || databases.length">
    	No databases yet, why don't you <a href="/#!/databases/create">create one</a>?
    </div>

    <div class="alert alert-info" role="alert" data-ng-show="databases.length" style="margin-top: 50px;">
        <span class="glyphicon glyphicon-arrow-left"></span>
        Click a database on the left panel to see more information/comments.
    </div>
</section>